language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
  - composer install --no-interaction --prefer-source

script:
  - mkdir -p build/logs
  #  - ./vendor/bin/parallel-lint src tests
  - vendor/bin/phpunit --coverage-text
#  - ./vendor/bin/phpcs src --standard=psr2 -sp

#  - vendor/bin/rector process src --dry-run

after_script:
#  - php vendor/bin/coveralls

after_success:
  # or enable logging
  - vendor/bin/coveralls -v
